<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.woniu.dao.authority.AuthorityDao">

    <resultMap type="cn.woniu.entity.authority.Authority" id="AuthorityMap">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="name" column="name" jdbcType="VARCHAR"/>
        <result property="parentId" column="parent_id" jdbcType="INTEGER"/>
        <result property="type" column="type" jdbcType="VARCHAR"/>
        <result property="status" column="status" jdbcType="VARCHAR"/>
        <result property="authCode" column="auth_code" jdbcType="VARCHAR"/>
        <result property="link" column="link" jdbcType="VARCHAR"/>
    </resultMap>
    <select id="selectAuthorityList" resultType="cn.woniu.entity.authority.Authority">
        SELECT
            au.id,
            au.name,
            au.parent_id,
            au.type,
            au.status,
            au.auth_code,
            au.link
        FROM
            authority AS au
            LEFT JOIN employee_authority AS eau ON au.id = eau.authority_id
            LEFT JOIN employee AS e ON eau.employee_id = e.id
        WHERE
	        e.username = #{username}
    </select>
    <select id="selectAllEmployeeAuth" resultType="cn.woniu.entity.manage.Employee">
        select id,name,username from employee
    </select>
    <select id="selectAllAuthorityList" resultType="cn.woniu.entity.authority.Authority">
        SELECT
            id,
            name,
            parent_id,
            type,
            status,
            auth_code,
            link
        FROM
            authority
    </select>
    <delete id="deleteAllByUid">
        delete from employee_authority where employee_id = #{id}
    </delete>
    <insert id="insertAuthByIdsAndUid">
        insert into employee_authority(employee_id,authority_id) values
        <foreach collection="ids" item="aid" separator=",">
            (#{id},#{aid})
        </foreach>
    </insert>
    <select id="selectAuthCodeByAids" resultType="java.lang.String">
        select auth_code from authority where id in
        <foreach collection="ids" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </select>
</mapper>
