<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.woniu.dao.consumer.ConsumerOrderDao">

    <resultMap type="cn.woniu.entity.consumer.ConsumerOrder" id="ConsumerOrderMap">
        <result property="id" column="id" jdbcType="VARCHAR"/>
        <result property="orderNo" column="order_no" jdbcType="VARCHAR"/>
        <result property="clientId" column="client_id" jdbcType="VARCHAR"/>
        <result property="orderTime" column="order_time" jdbcType="TIMESTAMP"/>
        <result property="clientAddress" column="client_address" jdbcType="VARCHAR"/>
        <result property="totalMoney" column="total_money" jdbcType="VARCHAR"/>
        <result property="status" column="status" jdbcType="VARCHAR"/>
        <result property="payTime" column="pay_time" jdbcType="TIMESTAMP"/>
        <result property="receiveTime" column="receive_time" jdbcType="TIMESTAMP"/>
        <result property="finishTime" column="finish_time" jdbcType="TIMESTAMP"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>
    <resultMap type="cn.woniu.entity.order.OrderClient" id="OrderClientMap">
        <id property="id" column="id"/>
        <result property="no" column="no"/>
        <result property="clientId" column="client_id"/>
        <result property="orderTime" column="order_time"/>
        <result property="address" column="address"/>
        <result property="totalMoney" column="total_money"/>
        <result property="status" column="status"/>
        <result property="payTime" column="pay_time"/>
        <result property="receiveTime" column="receive_time"/>
        <result property="finishTime" column="finish_time"/>
        <result property="updateTime" column="update_time"/>
        <result property="clientName" column="client_name"/>
        <collection property="orderItemList" ofType="cn.woniu.entity.order.OrderItem">
            <id property="id" column="oi_id"/>
            <result property="goodsId" column="goods_id"/>
            <result property="num" column="num"/>
            <result property="price" column="price"/>
            <result property="unit" column="unit"/>
            <result property="status" column="status"/>
            <result property="goodsName" column="goods_name"/>
            <result property="goodsPrice" column="sale_price"/>
            <result property="unitName" column="unit_name"/>
        </collection>
        <collection property="goodsList" ofType="cn.woniu.entity.manage.Goods">
            <id property="id" column="goods_id"/>
            <result property="name" column="goods_name"/>
            <result property="updateTime" column="goods_update_time"/>
            <result property="status" column="goods_status"/>
            <result property="salePrice" column="sale_price"/>
            <result property="stock" column="pro_num"/>
            <result property="stockLowerLimit" column="stock_lower_limit"/>
            <result property="stockUpperLimit" column="stock_upper_limit"/>
            <result property="unitId" column="unit_id"/>
            <result property="purStatus" column="pur_status"/>
        </collection>
    </resultMap>
    <select id="queryOrderAll" resultMap="OrderClientMap">
        SELECT
        oc.id,
        oc.no,
        c.client_id,
        oc.order_time,
        oc.address,
        oc.total_money,
        oc.status,
        oc.pay_time,
        oc.receive_time,
        oc.finish_time,
        oc.update_time,
        oi.id,
        oi.goods_id,
        oi.num,
        oi.price,
        oi.status,
        g.name AS goods_name,
        g.update_time AS goods_update_time,
        g.sale_price,
        g.unit_id,
        g.status AS goods_status,
        g.pur_status,
        pr.pro_num,
        g.stock_lower_limit,
        g.stock_upper_limit,
        c.client_name,
        mu.name AS unit_name
        FROM
        order_client oc
        LEFT JOIN order_item oi ON oc.id = oi.order_id
        LEFT JOIN goods g ON oi.goods_id = g.id
        LEFT JOIN client c ON oc.client_id = c.id
        LEFT JOIN measuring_unit mu ON oi.unit = mu.id
        LEFT JOIN product_report pr ON pr.pro_name = g.name
        WHERE oc.status IN (0,1,2,3)
        AND c.client_id=#{oc.clientId}
        <if test="oc.no != null and oc.no != ''">
            AND oc.no like concat('%',#{oc.no},'%')
        </if>
        <if test="oc.clientName != null and oc.clientName != ''">
            AND c.client_id = #{oc.clientName}
        </if>
        <if test="oc.status != null">
            AND oc.status = #{oc.status}
        </if>
        <if test="oc.selectTime != null and oc.selectTime.size > 0">
            AND oc.pay_time BETWEEN #{oc.selectTime[0]} AND #{oc.selectTime[1]}
        </if>
    </select>
</mapper>
