<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.woniu.dao.order.OrderItemDao">

    <resultMap type="cn.woniu.entity.order.OrderItem" id="OrderItemMap">
        <result property="id" column="id" jdbcType="VARCHAR"/>
        <result property="orderId" column="order_id" jdbcType="VARCHAR"/>
        <result property="goodsId" column="goods_id" jdbcType="VARCHAR"/>
        <result property="num" column="num" jdbcType="NUMERIC"/>
        <result property="price" column="price" jdbcType="NUMERIC"/>
        <result property="unit" column="unit" jdbcType="INTEGER"/>
        <result property="status" column="status" jdbcType="VARCHAR"/>
    </resultMap>

</mapper>
