<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.woniu.dao.manage.AreaDao">

    <update id="batchDelArea">
        update area set del = 0
        <if test="ids != null and ids.size>0 ">
            <where>
                id in
                <foreach collection="ids" item="id" open="(" separator="," close=")">
                    #{id}
                </foreach>
            </where>
        </if>
    </update>

    <select id="queryAreaList" resultType="cn.woniu.entity.manage.Area">
    SELECT id,name,status,area_value FROM `area`
    <where>
        <if test="name != null and name !=''">
            and name like concat("%",#{name},"%")
        </if>
        and del= 1
    </where>
</select>
    <select id="queryAllAreaList" resultType="cn.woniu.entity.manage.Area">
        SELECT id,name,status,area_value FROM `area`
        where del = 1  and status = '启用'
    </select>

    <insert id="addArea">
    insert into area(name,status,del,area_value)
        values (#{name},'启用','1',#{areaValue})
    </insert>

    <update id="updateArea">
        update area set name=#{name}
        where id=#{id}
    </update>

    <update id="delArea">
        update area set del= 0
        where id=#{id}
    </update>

    <update id="stopStatus">
        update area set status='停用'
        where id=#{id}
    </update>

    <update id="openStatus">
         update area set status='启用'
        where id=#{id}
    </update>

    <select id="queryOtherAreaById" resultType="java.lang.Integer">
         select count(c.area_id+s.area_id) from area a
        inner join client c on c.area_id=a.id
        inner join supplier s on s.area_id=a.id
		where s.area_id=#{id} or c.area_id=#{id}
    </select>


</mapper>
