<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.woniu.dao.manage.ClientDao">

    <resultMap type="cn.woniu.entity.manage.Client" id="ClientMap">
        <result property="id" column="id" jdbcType="VARCHAR"/>
        <result property="clientName" column="client_name" jdbcType="VARCHAR"/>
        <result property="address" column="address" jdbcType="VARCHAR"/>
        <result property="contactPerson" column="contact_person" jdbcType="VARCHAR"/>
        <result property="contactTel" column="contact_tel" jdbcType="VARCHAR"/>
        <result property="areaId" column="area_id" jdbcType="VARCHAR"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
        <result property="description" column="description" jdbcType="VARCHAR"/>
        <result property="status" column="status" jdbcType="INTEGER"/>
        <result property="clientId" column="client_id" jdbcType="INTEGER"/>
    </resultMap>
    <update id="updateBatchStatus">
        UPDATE client SET status = #{status}
        WHERE id in
        <foreach collection="clientIds" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </update>
    <select id="queryClient" resultType="cn.woniu.entity.manage.Client">
        SELECT
        c.id,
        c.client_name,
        c.address,
        c.contact_person,
        c.contact_tel,
        c.update_time,
        c.description,
        c.status,
        c.client_id,
        c.area_id,
        a.name AS areaName,
        a.area_value
        FROM
        client c INNER JOIN area a ON c.area_id = a.id
        WHERE
        a.status = '启用'
        AND a.del = 1
        <if test="areaName != null and areaName != ''">
            AND a.name = #{areaName}
        </if>
        <if test="contactPerson != null and contactPerson != ''">
            AND c.contact_person like concat('%',#{contactPerson},'%')
        </if>
        <if test="clientName != null and clientName != ''">
            AND c.client_name like concat('%',#{clientName},'%')
        </if>
        <if test="contactTel != null and contactTel != ''">
            AND c.contact_tel like concat('%',#{contactTel},'%')
        </if>
        <if test="status != null">
            AND c.status = #{status}
        </if>

    </select>
    <select id="queryAreaByAreaName" resultType="cn.woniu.entity.manage.Area">
        SELECT id, name, area_value FROM area
        WHERE status = '启用' AND del = 1 AND name = #{areaName}
    </select>


</mapper>
