<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.woniu.dao.manage.GoodsDao">
    <resultMap type="cn.woniu.entity.manage.Goods" id="GoodsMap">
        <result property="id" column="id" jdbcType="VARCHAR"/>
        <result property="name" column="name" jdbcType="VARCHAR"/>
        <result property="unitId" column="unit_id" jdbcType="VARCHAR"/>
        <result property="no" column="no" jdbcType="VARCHAR"/>
        <result property="attritionRate" column="attrition_rate" jdbcType="VARCHAR"/>
        <result property="goodsTypeId" column="goods_type_id" jdbcType="VARCHAR"/>
        <result property="unitWeight" column="unit_weight" jdbcType="INTEGER"/>
        <result property="conver" column="conver" jdbcType="VARCHAR"/>
        <result property="supplierId" column="supplier_id" jdbcType="VARCHAR"/>
        <result property="pic" column="pic" jdbcType="VARCHAR"/>
        <result property="description" column="description" jdbcType="VARCHAR"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
        <result property="status" column="status" jdbcType="INTEGER"/>
        <result property="salePrice" column="sale_price" jdbcType="NUMERIC"/>
        <result property="stock" column="stock" jdbcType="VARCHAR"/>
        <result property="stockUpperLimit" column="stock_upper_limit" jdbcType="INTEGER"/>
        <result property="stockLowerLimit" column="stock_lower_limit" jdbcType="INTEGER"/>
        <result property="type" column="type" jdbcType="VARCHAR"/>
    </resultMap>
    <select id="queryGoodsList" resultType="cn.woniu.entity.manage.Goods">
    SELECT
    	g.id,
    	g.name,
    	g.no,
    	g.attrition_rate,
    	g.unit_weight,
    	g.conver,
    	g.pic,
    	g.status,
    	g.sale_price,
    	g.stock_lower_limit,
    	g.type,
    	gt.NAME as typeName,
    	mu.name as unitName,
    	s.company
    FROM
    	goods g
    	LEFT JOIN measuring_unit mu ON g.unit_id = mu.id
    	LEFT JOIN goods_type gt ON g.goods_type_id = gt.id
    	LEFT JOIN supplier s ON g.supplier_id = s.id
        <where>
            status != 2
            <if test="name != null and name != ''">
                and g.name like concat("%",#{name},"%")
            </if>
            <if test="no != null and no != ''">
                and g.no like concat("%",#{no},"%")
            </if>
            <if test="typeName != null and typeName != ''">
                and typeName = #{typeName}
            </if>
            <if test="unitName != null and unitName != ''">
                and unitName = #{unitName}
            </if>
            <if test="status != null and status > 0 and status != 2">
                and g.status = #{status}
            </if>
            <if test="company != null and company != ''">
                and s.company = #{company}
            </if>
            <if test="type != null and type > 0">
                and g.type = #{type}
            </if>
            <if test="salePrice != null ">
                and sale_price &gt;= #{salePrice}
            </if>
            <if test="stockLowerLimit != null">
                and stock_lower_limit &gt;= #{stockLowerLimit}
            </if>
        </where>
    </select>
</mapper>
