<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.woniu.dao.manage.MeasuringUnitDao">

    <select id="queryMeasuringUnitList" resultType="cn.woniu.entity.manage.MeasuringUnit">
        SELECT id,name,status,weight FROM measuring_unit
        <where>
            <if test="name != null and name !=''">
                and name like concat("%",#{name},"%")
            </if>
            and del= 1
        </where>
    </select>
    <select id="queryAlList" resultType="cn.woniu.entity.manage.Area">
        SELECT id,name,status,weight FROM measuring_unit
        where del = 1  and status = 1
    </select>

    <insert id="addMeasuringUnit">
    insert into measuring_unit(name,status,del,weight)
        values (#{name},'1','1',#{weight})
    </insert>

    <update id="updateMeasuringUnit">
        update measuring_unit set name=#{name},weight=#{weight}
        where id=#{id}
    </update>

    <update id="delMeasuringUnit">
        update measuring_unit set del= 0
        where id=#{id}
    </update>

    <update id="stopStatus">
        update measuring_unit set status= 0
        where id=#{id}
    </update>

    <update id="openStatus">
         update measuring_unit set status= 1
        where id=#{id}
    </update>

    <select id="queryOtherMUById" resultType="java.lang.Integer">
         select count(g.unit_id) from goods g
		where g.unit_id=#{id}
    </select>

</mapper>
