<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.woniu.dao.manage.SupplierDao">

    <resultMap type="cn.woniu.entity.manage.Supplier" id="SupplierMap">
        <result property="id" column="id" jdbcType="VARCHAR"/>
        <result property="company" column="company" jdbcType="VARCHAR"/>
        <result property="contactPerson" column="contact_person" jdbcType="VARCHAR"/>
        <result property="concatTel" column="concat_tel" jdbcType="VARCHAR"/>
        <result property="areaId" column="area_id" jdbcType="VARCHAR"/>
        <result property="address" column="address" jdbcType="VARCHAR"/>
        <result property="description" column="description" jdbcType="VARCHAR"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
        <result property="status" column="status" jdbcType="INTEGER"/>
        <result property="areaName" column="area_name" jdbcType="VARCHAR"/>
    </resultMap>
    <select id="querySupplierAllByName" resultMap="SupplierMap">
        SELECT
        s.id,
        s.company,
        s.contact_person,
        s.concat_tel,
        s.area_id,
        s.address,
        s.description,
        s.update_time,
        s.STATUS,
        a.NAME AS area_name
        FROM
        supplier s
        LEFT JOIN area a
        ON s.area_id = a.id
        <where>
            <if test="name!=null and name !=''">
                company like concat("%",#{name},"%")
            </if>
            and s.status !=0
        </where>
        ORDER BY s.id DESC
    </select>
</mapper>
