<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.woniu.dao.manage.WarehouseDao">

    <resultMap type="cn.woniu.entity.manage.Warehouse" id="WarehouseMap">
        <result property="id" column="id" jdbcType="VARCHAR"/>
        <result property="name" column="name" jdbcType="VARCHAR"/>
        <result property="status" column="status" jdbcType="INTEGER"/>
        <result property="address" column="address" jdbcType="VARCHAR"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
        <result property="employeeId" column="employee_id" jdbcType="VARCHAR"/>
    </resultMap>

    <select id="queryWarehouseList" resultType="cn.woniu.entity.manage.Warehouse">
        select w.id,w.name,w.status,w.address,w.update_time ,e.name as employee_name,w.employee_id
        from warehouse w
        left join employee e
        on w.employee_id=e.id
        <where>
            and w.status != 2
            <if test="name != null and name != '' ">
                and w.name like concat("%",#{name},"%")
            </if>
            <if test="address != null and address != '' ">
                and w.address like concat('%',#{address},'%')
            </if>
            <if test="employeeName != null and employeeName != '' ">
                and e.name = #{employeeName}
            </if>
            <if test="status != null and status > 0 and status != 2  ">
                and w.status = #{status}
            </if>
        </where>
    </select>
    <update id="updateWarehouseStatusById">
        update warehouse set status = #{status} where id = #{id}
    </update>

</mapper>
