<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.woniu.dao.finance.FinanceQueryDao">

    <resultMap type="cn.woniu.entity.finance.FinanceQuery" id="FinanceQueryMap">
        <result property="id" column="id" jdbcType="VARCHAR"/>
        <result property="sendId" column="send_id" jdbcType="VARCHAR"/>
        <result property="type" column="type" jdbcType="VARCHAR"/>
        <result property="status" column="status" jdbcType="VARCHAR"/>
        <result property="receivable" column="receivable" jdbcType="NUMERIC"/>
        <result property="recTime" column="rec_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <select id="queryFinance" resultType="cn.woniu.entity.finance.FinanceQuery">
        SELECT
		distinct fq.id,
        	fq.STATUS,
        	fq.receivable,
        	oc.no,
        	oc.STATUS as ocStatus,
        	c.client_name as clientName
        FROM
        	finance_query fq
        	LEFT JOIN order_client oc ON fq.order_id = oc.id
        	LEFT JOIN client c ON oc.client_id = c.id
        	LEFT JOIN order_item oi ON oi.order_id = oc.id
        	<where>
                oc.status =3 and fq.status = 0
                <if test="clientName != null and clientName != '' ">
                    and c.client_name like concat("%",#{clientName},"%")
                </if>
                <if test="receivable != null ">
                    and receivable &gt;= #{receivable}
                </if>
            </where>
    </select>

    <select id="queryOrder" resultType="cn.woniu.entity.finance.FinanceQuery">
    SELECT
    	fq.id,
    	fq.receivable,
    	oc.NO,
    	c.client_name,
    	g.NAME as goodsName,
    	g.sale_price,
    	oi.num,
    	mu.NAME as unitName
    FROM
    	finance_query fq
    	LEFT JOIN order_client oc ON fq.order_id = oc.id
    	LEFT JOIN client c ON oc.client_id = c.id
    	LEFT JOIN order_item oi ON oi.order_id = oc.id
    	LEFT JOIN goods g ON oi.goods_id = g.id
    	LEFT JOIN measuring_unit mu ON mu.id = g.unit_id
    	where fq.id = #{id}
    </select>
	<insert id="addFinance">
		insert into finance_query(receivable,order_id) values (#{totalMoney},#{id})
	</insert>

	<update id="updateFinance">
		update finance_query set status = 1,rec_time=#{payTime} where id = #{id}
	</update>

</mapper>
