<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.woniu.dao.finance.FinancePayDao">

    <resultMap type="cn.woniu.entity.finance.FinancePay" id="FinancePayMap">
        <result property="id" column="id" jdbcType="VARCHAR"/>
        <result property="payable" column="payable" jdbcType="NUMERIC"/>
        <result property="type" column="type" jdbcType="VARCHAR"/>
        <result property="orderId" column="order_id" jdbcType="VARCHAR"/>
        <result property="status" column="status" jdbcType="VARCHAR"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
    </resultMap>
    <select id="queryFinancePay" resultType="cn.woniu.entity.finance.FinancePay">
        SELECT
        	s.company,
        	sp.no,
        	fp.payable,
        	fp.create_time,
        	fp.type,
        	fp.status,
        	fp.id
        FROM
        	finance_pay fp
        	LEFT JOIN standard_products sp ON fp.standpro_id = sp.id
        	LEFT JOIN supplier s ON sp.supplier_id = s.id
        <where>
            fp.status = 0
            <if test="company != null and company != '' ">
                and company like concat("%",#{company},"%")
            </if>
            <if test="payable != null ">
                and payable &gt;= #{payable}
            </if>
        </where>
    </select>

    <update id="updateFinancePayStatus">
		update finance_pay set status = 1 where id = #{id}
	</update>

    <insert id="addFinancePay">
        insert into finance_pay(payable,create_time,standpro_id)
        VALUES(#{price},#{time},#{id})
    </insert>

</mapper>
