<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.woniu.dao.report.ProductReportDao">



    <select id="queryReportByName" resultType="cn.woniu.entity.report.ProductReport">
        SELECT pr.id,pr.pro_name,pr.pro_num,pr.unit_name,goods.sale_price as price
        FROM `product_report` pr , goods
        where pr.pro_name=#{name} and goods.`name`=#{name}
    </select>

    <select id="queryReportAllInfo" resultType="cn.woniu.entity.report.ProductReport">
        select pr.id,pr.pro_name,pr.pro_num,pr.unit_name
        from `product_report` pr
    </select>
    <select id="queryReportAllInfoByIdAndName" resultType="cn.woniu.entity.report.ProductReport">
        select ps.goods_id id,pr.pro_name,pr.pro_num,pr.unit_name,ps.limit
        from `product_report` pr left join product_send ps on pr.pro_name=ps.goods_name
        <where>
            <if test="id != '' and id != null">
                and pr.id like concat("%",#{id},"%")
            </if>
            <if test="goodsName !=null and goodsName != ''">
                and pr.pro_name like concat("%",#{goodsName},"%")
            </if>
        </where>
    </select>
</mapper>
