<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.woniu.dao.report.ProductReportDao">



    <select id="queryReportByName" resultType="cn.woniu.entity.report.ProductReport">
        SELECT pr.id,pr.pro_name,pr.pro_num,pr.unit_name,goods.sale_price as price
        FROM `product_report` pr , goods
        where pr.pro_name=#{name} and goods.`name`=#{name}
    </select>

    <select id="queryReportAllInfo" resultType="cn.woniu.entity.report.ProductReport">
        select pr.id,pr.pro_name,pr.pro_num,pr.unit_name
        from `product_report` pr
    </select>

</mapper>
