<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.woniu.dao.material.StandardProductsDao">

    <resultMap type="cn.woniu.entity.material.StandardProducts" id="StandardProductsMap">
        <result property="id" column="id" jdbcType="VARCHAR"/>
        <result property="getId" column="get_id" jdbcType="VARCHAR"/>
        <result property="no" column="no" jdbcType="VARCHAR"/>
        <result property="num" column="num" jdbcType="NUMERIC"/>
        <result property="unitId" column="unit_id" jdbcType="VARCHAR"/>
        <result property="employeeId" column="employee_id" jdbcType="VARCHAR"/>
        <result property="status" column="status" jdbcType="INTEGER"/>
        <result property="time" column="time" jdbcType="TIMESTAMP"/>
        <result property="warehouseId" column="warehouse_id" jdbcType="VARCHAR"/>
        <result property="deleted" column="deleted" jdbcType="INTEGER"/>
        <result property="goodsId" column="goods_id" jdbcType="VARCHAR"/>
    </resultMap>
    <select id="query" resultType="cn.woniu.entity.material.StandardProducts">
    SELECT g.name as goodsName,w.address as warehouseAddress,sp.* FROM standard_products sp
    left join `goods` g on goods_id=g.id
    left join `warehouse` w on warehouse_id=w.id
    <where>
        g.name like concat("%",#{goodsName},"%")
        and sp.id like concat("%",#{id},"%")
        and w.address like concat("%",#{warehouse},"%")
        and deleted = 0
    </where>
    </select>
</mapper>
