<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.woniu.dao.material.SubstandardProductsDao">

    <resultMap type="cn.woniu.entity.material.SubstandardProducts" id="SubstandardProductsMap">
        <result property="id" column="id" jdbcType="VARCHAR"/>
        <result property="no" column="no" jdbcType="VARCHAR"/>
        <result property="num" column="num" jdbcType="NUMERIC"/>
        <result property="unitId" column="unit_id" jdbcType="VARCHAR"/>
        <result property="employeeId" column="employee_id" jdbcType="VARCHAR"/>
        <result property="status" column="status" jdbcType="INTEGER"/>
        <result property="getId" column="get_id" jdbcType="VARCHAR"/>
        <result property="attritionRate" column="attrition_rate" jdbcType="VARCHAR"/>
        <result property="warehouseId" column="warehouse_id" jdbcType="VARCHAR"/>
        <result property="goodsId" column="goods_id" jdbcType="VARCHAR"/>
    </resultMap>

</mapper>
